
<h1>Michael's Speedy Goat &amp; Donkey Shipping Co.</h1>

<h2>Enter your package info below fool!</h2>

<ul>
  <li>Package Height: <%= @height %></li>
  <li>Package Width: <%= @width %></li>
  <li>Package Length: <%= @length %></li>
  </ul>

<h2>Package Weight: <%= @weight %> lbs</h2>
<h2>Package Volume: <%= @parcel_volume %></h2>
<h1>You pay now! $<%= @total %></h1>
